@import "tailwindcss";
body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #1A2A4F; */
}

@layer base{
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-slate-950 text-white;
  }

}
.feature-card {
  /* background: rgba(255, 255, 255, 0.02); VERY subtle transparency */
  backdrop-filter: blur(4px);
  border-radius: 4px;
  transition: background 0.3s ease;
}
.feature-card:hover {
  background: rgba(255, 255, 255, 0.04);
}

@layer components{
  .gradient-background {
    /* background: linear-gradient(90deg, #1A2A4F 0%, #16213E 100%); */
    @apply min-h-screen bg-radial from-slate-500 via-slate-700 to-slate-900;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll-left 20s linear infinite;
}